.chart-heading {
  font-family: "Rubik", sans-serif;
  color: #023047;
  text-transform: uppercase;
  font-size: 24px;
  text-align: center;
}

.chart-container {
  width: 200px;
}

.fav-stats {
  font-family: "Rubik", sans-serif;
  display: flex;
  /*justify-content: flex-start;*/
  gap: 24px;
  margin: 0 auto;
  width: fit-content;
  box-shadow: 0 4px 12px -2px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  padding: 8px 32px;
  color: #023047;
  transition: all 400ms ease;
}
.fav-stats:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 16px -7px rgba(0, 0, 0, 0.3);
}

.fav-stats .details ul {
  list-style: none;
  padding: 0;
}

.fav-stats .details ul li {
  font-size: 16px;
  margin: 12px 0;
  text-transform: uppercase;
}

.fav-stats .details .percentage {
  font-weight: 700;
  color: #e63946;
}

.chart-container {
  width: 80%;
  max-width: 400px;
}


.porfile-stats {
  font-family: "Rubik", sans-serif;
  display: flex;
  align-items: center;
  gap: 24px;
  margin: 0 auto;
  width: fit-content;
  box-shadow: 0 4px 12px -2px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  padding: 8px 32px;
  color: #023047;
  transition: all 400ms ease;
  /*justify-content: flex-start;*/
}
.img-stats {
  font-family: "Rubik", sans-serif;
  display: flex;
  margin-left: auto;
  align-items: center;
  gap: 24px;
  justify-content: flex-end;
  width: fit-content;
  
  border-radius: 20px;
  padding: 8px 32px;
  color: #023047;
  transition: all 400ms ease;
  /*justify-content: flex-start;
  margin: 50px;*/
}
header {
  font-family: "Rubik", sans-serif;
  text-align: center;
  background-color:#D0EAE4;
  color: #2F2A2B;
  padding: 10px;
}
footer {
  font-family: "Rubik", sans-serif;
  text-align: center;
  background-color: #FFCCCC
  ;
  color: #152F29;
  padding: 0.5rem;
  margin-top: 20px;
}
.text{
  margin-top: 30px;
  
}